In [1]:
import pandas as pd
import requests
import json

In [2]:
def get_and_format(econ_series):
    api = '&api_key=6a6010bf274d634fd7463838a57f0887'
    params = 'file_type=json'
    url = 'https://api.stlouisfed.org/fred/series/observations?series_id='+econ_series+'&file_type=json'+api
    request = requests.get(url)
    content = request.content
    content_json = json.loads(content)
    #print(json.dumps(content_json, indent = 2))    #useful for debugging
    df = pd.DataFrame.from_records(content_json['observations'])
    df = df.loc[:,['date','value']]
    df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
    df = df.set_index('date').asfreq(freq = 'Q', method = 'ffill')
    return df

#Retrieve the data
UNRATE = get_and_format('UNRATE')
CPIAUCSL = get_and_format('CPIAUCSL')
FEDFUNDS = get_and_format('FEDFUNDS')
NASDAQCOM = get_and_format('NASDAQCOM')
#NASDAQCOM HAS "." VALUES that can't be there
NASDAQCOM = NASDAQCOM.replace(to_replace = '.', method = 'ffill')


RGDP = get_and_format('A939RX0Q048SBEA')
CRNT_ACCT = get_and_format('IEABC')
HOUSING = get_and_format('HOUST')
LABOR_FRC = get_and_format('CLF16OV')
MINIMUM_WAGE = get_and_format('FEDMINNFRWG')
YOUTH_UNEM = get_and_format('SLUEM1524ZSUSA')

#Combine the data
df = pd.merge(UNRATE, CPIAUCSL, on = 'date', how = 'left')
df = pd.merge(df, FEDFUNDS, on = 'date', how = 'left')
df = pd.merge(df, NASDAQCOM, on = 'date', how = 'left')
df = pd.merge(df, RGDP, on = 'date', how = 'left')
#df = pd.merge(df, CRNT_ACCT, on ='date', how = 'left')
df = pd.merge(df, HOUSING, on = 'date', how = 'left')
df = pd.merge(df, LABOR_FRC, on = 'date', how = 'left')
df = pd.merge(df, MINIMUM_WAGE, on = 'date', how = 'left')
#df = pd.merge(df, YOUTH_UNEM, on = 'date', how = 'left')
df.columns = ['UNRATE', 'CPIAUCSL', 'FEDFUNDS','NASDAQCOM', 'RGDP',  'HOUSING', 'LABOR_FRC', 'MINIMUM_WAGE']
df = df.fillna(method = 'ffill')
df.to_csv('US_UNEM_QT.csv')

In [3]:
df

,UNRATE,CPIAUCSL,FEDFUNDS,NASDAQCOM,RGDP,HOUSING,LABOR_FRC,MINIMUM_WAGE
date,,,,,,,,
1948-03-31,4.0,23.5,NaN,NaN,14316.0,NaN,60070,0.40
1948-06-30,3.6,24.15,NaN,NaN,14495.0,NaN,60957,0.40
1948-09-30,3.8,24.36,NaN,NaN,14515.0,NaN,60815,0.40
1948-12-31,4.0,24.05,NaN,NaN,14464.0,NaN,61169,0.40
1949-03-31,5.0,23.91,NaN,NaN,14202.0,NaN,61073,0.40
1949-06-30,6.2,23.92,NaN,NaN,14098.0,NaN,60948,0.40
1949-09-30,6.6,23.75,NaN,NaN,14182.0,NaN,61633,0.40
1949-12-31,6.6,23.61,NaN,NaN,13999.0,NaN,61908,0.40
1950-03-31,6.3,23.64,NaN,NaN,14490.0,NaN,61604,0.75
1950-06-30,5.4,23.88,NaN,NaN,14879.0,NaN,62419,0.75
1950-09-30,4.4,24.34,NaN,NaN,15388.0,NaN,62349,0.75
1950-12-31,4.3,24.98,NaN,NaN,15612.0,NaN,62068,0.75
1951-03-31,3.4,25.88,NaN,NaN,15759.0,NaN,62526,0.75
1951-06-30,3.2,25.93,NaN,NaN,15968.0,NaN,61615,0.75
1951-09-30,3.3,26.03,NaN,NaN,16223.0,NaN,61780,0.75
1951-12-31,3.1,26.47,NaN,NaN,16181.0,NaN,62457,0.75
1952-03-31,2.9,26.39,NaN,NaN,16288.0,NaN,61721,0.75
1952-06-30,3.0,26.53,NaN,NaN,16259.0,NaN,62103,0.75
1952-09-30,3.1,26.63,NaN,NaN,16306.0,NaN,62457,0.75
1952-12-31,2.7,26.71,NaN,NaN,16765.0,NaN,62621,0.75
1953-03-31,2.6,26.63,NaN,NaN,17013.0,NaN,63657,0.75
1953-06-30,2.5,26.77,NaN,NaN,17082.0,NaN,63063,0.75
1953-09-30,2.9,26.89,NaN,NaN,16908.0,NaN,62727,0.75
1953-12-31,4.5,26.87,NaN,NaN,16574.0,NaN,62795,0.75
1954-03-31,5.7,26.93,NaN,NaN,16425.0,NaN,63793,0.75
1954-06-30,5.6,26.94,NaN,NaN,16376.0,NaN,63343,0.75
1954-09-30,6.1,26.81,1.07,NaN,16485.0,NaN,64209,0.75
1954-12-31,5.0,26.77,1.28,NaN,16726.0,NaN,63312,0.75
1955-03-31,4.6,26.79,1.35,NaN,17132.0,NaN,63882,0.75
1955-06-30,4.2,26.71,1.64,NaN,17341.0,NaN,64482,0.75
...,...,...,...,...,...,...,...,...
2013-03-31,7.5,232.282,0.14,3019.51,51921.0,1010.0,155005,7.25
2013-06-30,7.5,232.445,0.09,3403.25,51906.0,839.0,155749,7.25
2013-09-30,7.2,233.544,0.08,3771.48,52212.0,850.0,155687,7.25
2013-12-31,6.7,234.719,0.09,4176.59,52526.0,1002.0,155182,7.25
2014-03-31,6.7,236.028,0.08,4198.99,52293.0,970.0,156028,7.25
2014-06-30,6.1,237.231,0.10,4408.18,52913.0,911.0,155707,7.25
2014-09-30,5.9,237.477,0.09,4493.39,53452.0,1023.0,156040,7.25
2014-12-31,5.6,236.252,0.12,4736.05,53646.0,1073.0,156332,7.25
2015-03-31,5.4,235.976,0.11,4900.89,54071.0,960.0,156643,7.25
2015-06-30,5.3,237.657,0.13,4986.87,54348.0,1205.0,157062,7.25
2015-09-30,5.0,237.498,0.14,4620.16,54439.0,1224.0,156733,7.25
2015-12-31,5.0,237.761,0.24,5007.41,54420.0,1146.0,158035,7.25
2016-03-31,5.0,237.990,0.36,4869.85,54640.0,1114.0,159103,7.25
2016-06-30,4.9,240.144,0.38,4842.67,54722.0,1200.0,158973,7.25
2016-09-30,5.0,241.068,0.40,5312.00,54918.0,1072.0,159817,7.25
2016-12-31,4.7,242.712,0.54,5383.12,55165.0,1267.0,159710,7.25
2017-03-31,4.4,243.721,0.79,5911.74,55401.0,1186.0,160066,7.25
2017-06-30,4.3,244.179,1.04,6140.42,55560.0,1243.0,160232,7.25
2017-09-30,4.2,246.445,1.15,6495.96,55874.0,1174.0,161212,7.25
2017-12-31,4.1,247.847,1.30,6903.39,56324.0,1199.0,160538,7.25
2018-03-31,4.0,249.413,1.51,6903.39,56785.0,1335.0,161684,7.25
2018-06-30,4.0,251.176,1.82,7510.305,57099.0,1190.0,162269,7.25
2018-09-30,3.7,252.261,1.95,8046.352,57317.0,1246.0,162078,7.25
2018-12-31,3.9,252.653,2.27,6635.277,57429.0,1117.0,163111,7.25
2019-03-31,3.8,254.095,2.41,7729.32,57789.0,1203.0,162935,7.25
2019-06-30,3.7,255.402,2.38,8006.242,57942.0,1235.0,163133,7.25
2019-09-30,3.5,256.593,2.04,7999.34,58229.0,1274.0,164051,7.25
2019-12-31,3.5,258.444,1.55,8972.605,58490.0,1587.0,164556,7.25
2020-03-31,4.4,257.953,0.65,7700.098,57691.0,1269.0,162913,7.25
2020-06-30,11.1,257.214,0.08,10058.766,57691.0,1265.0,159932,7.25